#include <windows.h>
#include "dialog.h"

icon ICON "pbt.ico"

dialog DIALOGEX 0, 0, 245, 105
STYLE DS_SETFONT | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "PortableBuildTools Setup 2.10"
FONT 9, "Segoe UI", 0, 0, 0x1
BEGIN
	COMBOBOX	ID_COMBO_ENV,	5,	5,	160,	0, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
	CONTROL "Preview channel",	ID_CHECK_PREVIEW, "Button", BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD | WS_VISIBLE,	175,	5,	70,	12
	LTEXT "MSVC Version",	-1,	5,	25,	100,	12
	COMBOBOX	ID_COMBO_MSVC,	5,	35,	55,	0, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
	LTEXT "SDK Version",	-1,	65,	25,	100,	12
	COMBOBOX	ID_COMBO_SDK,	65,	35,	55,	0, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
	LTEXT "Host Arch",	-1,	125,	25,	100,	12
	COMBOBOX	ID_COMBO_HOST,	125,	35,	55,	0, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
	LTEXT "Target Arch",	-1,	185,	25,	100,	12
	COMBOBOX	ID_COMBO_TARGET,	185,	35,	55,	0, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
	GROUPBOX "Destination Folder",	-1,	5,	55,	235,	30
	EDITTEXT	ID_EDIT_PATH,	10,	65,	165,	14, ES_AUTOHSCROLL | WS_TABSTOP
	PUSHBUTTON "Browse...",	ID_BUTTON_BROWSE,	180,	65,	55,	14
	CONTROL "",	ID_CHECK_LICENSE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD | WS_VISIBLE,	5,	90,	8,	12
	CONTROL "I accept the <a>License Agreement</a>",	ID_SYSLINK_LICENSE, "SysLink", WS_TABSTOP | WS_CHILD | WS_VISIBLE,	15,	92,	110,	12
	PUSHBUTTON "Install",	ID_BUTTON_INSTALL,	190,	89,	50,	14
END
